@charset "ISO-8859-1";

.toolbar {
	background-color: red;
	width: 100%;
	position: fixed;
<<<<<<< HEAD
	height: 3%;
=======
	height: 2%;
>>>>>>> bc0e93ab894ddf123cca5690bc81a94d82de9d16
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999;
}

.toolbar_text {
	font-family: sans-serif;
	color: white;
	
}

.datagrid td {
	text-align: center;
	width: 100%
}

.panel div {
	text-align: center;
}

.datagrid input {
	opacity: 1 !important;
}


.toolbarCurriculo {
	background: white !important;
}

.opacityOnly input {
	opacity: 1 !important;
}